.HelpBar__container {
  position: absolute;
  top: 185px;
  left: 50%;
  width: 220px;
  margin-left: 520px;
  box-sizing: border-box;
  background: #fff;
  border-top: 6px solid #bfbfbf;
  padding: 0 11px 0 15px;
  box-shadow: 0 4px 3px 1px rgba(138, 138, 138, 0.18);
  z-index: 9999;
  .free-trial {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    p {
      color: #666;
      :first-child {
        color: #f03c78;
      }
    }
    border-bottom: 1px solid #b0b0b0;
  }
  ul {
    margin: 0;
    padding: 0;
    font-weight: bold;

    li {
      padding: 19px 0 17px;
      border-bottom: 1px solid #b0b0b0;

      a {
        display: block;
        font-size: 15px;
        color: #585858;
        padding-left: 45px;
        line-height: 30px;
        background-repeat: no-repeat;
        background-size: 41px 30px;
        cursor: pointer;
      }
    }
    .help-li-request a {
      background-image: url("https://s.wink.co.kr/pc/1.1.0/common/floating/bg_lay_paidstudy.png");
      background-size: 30px;
      background-position: 5px 3px;
    }
    .help-li-talk a {
      background-image: url("https://s.wink.co.kr/pc/1.1.0/common/floating/bg_lay_talk.png");
      background-size: 30px;
      background-position: 5px 0;
    }
    .help-li-report a {
      background-image: url("https://s.wink.co.kr/pc/images/bg_lay-report.png");
    }

    .help-li-recruit a {
      background-size: 30px;
      background-position: 8px 0;
      background-image: url("https://s.wink.co.kr/pc/images/bg_lay-recruit.png");
    }
  }
  .HelpBar__cs-area {
    margin-top: 15px;
    text-align: center;
    .title {
      font-width: bold;
      font-size: 18px;
      color: #222;
    }
    .sub-title {
      width: 70%;
      margin: 0 auto;
      font-size: 15px;
    }
    > span {
      // phone-number
      display: inline-block;
      margin-top: 5px;
      font-size: 32px;
      color: #08bbd5;
      letter-spacing: -0.5px;
      font-weight: bold;
    }
  }
  .working-time {
    border-radius: 10px;
    background: #f2f2f2;
    text-align: center;
    margin: 10px 0;
  }
}
.Header__fixed {
  position: fixed;
  top: 85px;
}
