@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');

html,
body {
  width: 100%;
  font-family: 'NanumBarunGothic', sans-serif;
  color: #666;
  word-break: keep-all;
}
.App_container {
}
