@import "../../sass/colors.scss";
.nav-wrap {
  nav {
    width: 200px;
    padding-top: 44px;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    box-sizing: border-box;
    display: block;
    .nav-left-ul {
      li {
        border-bottom: 1px solid $light-grey;
        box-sizing: border-box;
      }
    }
    h2 {
      margin-bottom: 32px;
      padding-left: 16px;
      color: #212121;
      font-size: 32px;
      line-height: 1.3;
    }
    ul > li > a {
      display: block;
      padding-left: 16px;
      color: #999;
      font-size: 18px;
      line-height: 56px;
    }
    .is-active {
      background-color: $sky-blue;
      color: #fff;
    }
  }
  float: left;
  position: relative;
}
.fixed {
  position: fixed;
  top: 56px;
}
.additional-ul {
  padding: 23px 0 21px;
  border-bottom: 1px solid $light-grey;
  background: $grey;

  .additional-li {
    border-bottom: 0 !important;
    &:first-child {
      margin-top: 0;
    }
    padding-left: 16px;
    margin-top: 10px;

    .additional-navlink {
      padding-left: 14px;
      background: url(https://s.wink.co.kr/pc/images/bu_dot.png) 0 9px no-repeat;
      color: #999 !important;
      font-size: 16px;
      line-height: 1.6;
      display: block;
      &:hover {
        color: #666 !important;
      }
    }
    .additional-is-active {
      color: #666;
    }
  }
}
