@import "src/sass/colors.scss";
.left {
  float: left;
  width: 545px;
}
.right {
  float: right;
  width: 401px;
}
div {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
h3 {
  margin-bottom: 14px;
  color: $sky-blue;
  font-size: 32px;
}
.section {
  position: relative;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.mainpage-container {
  .mainpage-first {
    position: relative;
    text-align: center;
    background: url(https://s.wink.co.kr/pc/images/main/bg_main_slider.jpg)
      repeat-x;

    .mainpage-video {
      position: absolute;
      top: 98px;
      width: 614px;
      height: 350px;
      left: 50%;
      margin-left: -151px;
      > div {
        position: relative;
        height: 358px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 10;
        }
        video {
          width: 100%;
          height: 350px;
        }
        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 56px;
          margin: 29px 0 0 -28px;
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 56px;
          height: 59px;
          margin: -30px 0 0 -28px;
          background: url("https://s.wink.co.kr/pc/images/main/btn_video_play2.png")
            no-repeat 0 0/56px;
          cursor: pointer;
        }
      }
    }
    .on-play {
      > div {
        span {
          display: none;
        }
        &:after {
          opacity: 0.8;
          background: url("https://s.wink.co.kr/pc/images/main/btn_video_pause.png")
            no-repeat 0 0/56px;
        }
      }
    }
    .mainpage-slider {
      position: absolute;
      top: 97px;
      width: 313px;
      height: 347px;
      left: 50%;
      margin-left: -479px;
      border: 1px solid #ccc;
      overflow: hidden;
      > div {
        position: relative;
        display: block;
      }
      img {
        width: 100%;
      }
    }
    .mainpage-btns {
      position: absolute;
      text-align: center;
      bottom: 98px;
      width: 960px;
      left: 50%;
      margin-left: -480px;
      margin-top: 24px;
      a {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 18px;
        position: relative;
        height: 37px;
        line-height: 38px;
        border-radius: 18px;
        background: #f03c78;
        padding: 0 30px;
        margin: 0 10px;
        box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        > span {
          display: inline-block;
          position: absolute;
          bottom: 38px;
          left: 50%;
          width: 515px;
          margin-left: -260px;
          //height: 193px;
          //padding: 15px 0;
        }
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .mainpage-contents {
    padding: 49px 0 26px;

    > div {
      h2 {
        font-size: 22px;
        color: #222;
        margin-bottom: 4px;
        padding-left: 15px;
      }
    }

    .mainpage-contents-section-1 {
      margin: 0 auto 40px;

      .mainpage-contents-section-1-left {
      }

      .mainpage-contents-videos {
        .video-area {
          position: relative;
          float: left;
          width: 263px;
          height: 278px;
          background: #ffd02c
            url("https://s.wink.co.kr/pc/images/main/highlight_study.jpg")
            no-repeat 0 0;
          margin-bottom: 0;
          margin-right: 6px;
          border-radius: 0 0 15px 15px;

          .video-title {
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 20px;
            height: 44px;
            line-height: 44px;
            padding-right: 40px;

            color: #222;
            text-align: center;

            position: absolute;
            cursor: pointer;

            &:after {
              width: 38px;
              height: 38px;
              right: 10px;
              top: 2px;
              background-size: 38px;

              position: absolute;
              background: url("https://s.wink.co.kr/pc/images/btn_play.png")
                no-repeat center/25px;
            }
          }
        }
      }
    }
  }
  .mainpage-contents-section-2 {
    .mainpage-contents-videos {
    }
  }
  .bottom-area {
    padding: 26px 0 190px 0;
    background: #d0f0e7;
    .mainpage-contents-section-3 {
      .section-3-search {
      }

      .section-3-contents {
        margin-top: 39px;
      }
    }
  }
}

.video-box-container > li {
  float: left;
}
.video-box-container-first {
  .video-box {
    height: 88px;
    width: 128px;
    margin-bottom: 5px;

    position: relative;
    border: 1px solid #d5d5d5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    > div {
      bottom: 4px;
      left: 6px;
      right: 6px;
      height: 16px;
      font-size: 11px;
      color: #222;
      text-align: center;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.8);
      line-height: 18px;

      position: absolute;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        right: -4px;
        top: -5px;
        background: url("https://s.wink.co.kr/pc/images/btn_play.png") no-repeat
          center/25px;
      }
    }
    &:first-child {
      background-image: url("https://s.wink.co.kr/pc/images/main/korean_study.jpg");
    }
    &:nth-child(2) {
      background-image: url("https://s.wink.co.kr/pc/images/main/english_study.jpg");
    }
    &:nth-child(3) {
      background-image: url("https://s.wink.co.kr/pc/images/main/math_study.jpg");
      margin-bottom: 0;
    }
  }
}
.video-box-container-second {
  .video-box {
    height: 139px;
    width: 196px;
    margin-right: 4px;

    position: relative;
    border: 1px solid #d5d5d5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    > div {
      bottom: 4px;
      left: 6px;
      right: 6px;
      height: 16px;
      font-size: 11px;
      color: #222;
      text-align: center;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.8);
      line-height: 18px;

      position: absolute;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        right: -4px;
        top: -5px;
        background: url("https://s.wink.co.kr/pc/images/btn_play.png") no-repeat
          center/25px;
      }
    }
    &:first-child {
      background-image: url("https://s.wink.co.kr/pcweb_sample/parentinterview_1.jpg");
    }
    &:nth-child(2) {
      background-image: url("https://s.wink.co.kr/pcweb_sample/parentinterview_2.jpg");
    }
    &:nth-child(3) {
      background-image: url("https://s.wink.co.kr/pcweb_sample/parentinterview_3.jpg");
    }
    &:last-child {
      background-image: url("https://s.wink.co.kr/pcweb_sample/parentinterview_4.jpg");
      margin-bottom: 0;
    }
  }
}
