.search-bar-container {
  form {
    overflow: hidden;

    .text-input {
      height: 27px;
      font-size: 12px;
      float: left;
      width: calc(100% - 90px);
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #00a5d5;
      background: #fff;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: left;
      color: #999;
      line-height: normal !important;
    }

    .submit-btn {
      height: 27px;
      line-height: 27px;
      padding: 0 23px;
      border-radius: 0;
      max-width: 75px;
      text-align: center;
      color: #fff;
      background: #00a5d5;
      float: right;
      font-size: 15px;
      box-sizing: border-box;
    }
  }
}
