@import "src/sass/colors.scss";
.NavBar__container {
  z-index: 9998;
  background-color: $sky-blue;
  position: relative;
  height: 56px;
  width: 100%;
  .show-all {
    position: relative;
    z-index: 9999;
    button {
      position: absolute;
      top: 0;
      left: 50%;
      width: 56px;
      height: 56px;
      margin-left: 424px;
      padding-top: 24px;
      box-sizing: border-box;
      background-color: #676969;
      background-position: 50% 12px;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -1px;
      cursor: pointer;
    }
    button.open {
      background-image: url(https://s.wink.co.kr/pc/images/icon_util_gnb.png);
    }
    button.close {
      background-image: url(https://s.wink.co.kr/pc/images/icon_util_close.png);
    }
  }
}
.mouse-on {
  .NavList__list {
    background-color: $blue;
  }
}
.NavBar__ul {
  width: 960px;
  position: absolute;
  //position: absolute; // this helped
  margin: 0 275px; // this helped

  .NavList__list {
    width: 181px;
    float: left;
    position: relative;
    a {
      position: relative;
      display: block;
      font-size: 18px;
      color: white;
      text-align: center;
      line-height: 56px;

      &:hover {
        background-color: $blue;
      }
    }
    &:hover {
      a {
        background-color: $blue;
      }
    }
    &:hover .NavList__contents {
      /* animation */
      max-height: 1000px;
      transition: max-height 0.8s ease-in;
      overflow: hidden;
      /* animation end */
    }

    .NavList__contents {
      position: absolute;
      width: 181px;

      /* animation */
      max-height: 0;
      transition: max-height 0.8s ease-out;
      overflow: hidden;
      /* animation end */

      background: #fff;
      list-style-type: none;
      li {
        text-align: left;
        color: $grey;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4;
        border-left: 0.5px solid $sky-blue;
        border-right: 0.5px solid $sky-blue;
        padding: 10px 7px;
        &:first-child {
          border-top: 0.5px solid $sky-blue;
        }
        &:last-child {
          border-bottom: 0.5px solid $sky-blue;
        }
        &:hover {
          color: $sky-blue;
        }
      }
    }
  }
}
.NavBar__fixed {
  position: fixed;
  top: 0;
}
