@import "../../sass/colors.scss";
.wink-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 960px;
  min-height: 1160px;
  padding-bottom: 155px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 99;
  .contents {
    float: right;
    width: 720px;
    padding: 39px 0 133px;
    background: #fff;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.additional-div {
  position: relative;
  padding-bottom: 30px;
  .link-btn {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    background: #f03c78;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    padding: 9px 0;
    text-align: center;
    border-radius: 28px;
    border: 1px solid #ca3f6e;
  }
}
