@import "src/sass/colors.scss";

.wink-div {
  position: relative;
  padding-bottom: 30px;
  .link-btn {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    background: #f03c78;
    font-size: 23px;
    font-weight: bold;
    color: $white;
    padding: 9px 0;
    text-align: center;
    border-radius: 28px;
    border: 1px solid #ca3f6e;
  }
}
